<ion-header>
  <ion-toolbar [color]="NEMLibrary.getNetworkType() == NetworkTypes.MAIN_NET ? 'mainnet': 'testnet'">
    <ion-title>
      <img alt="logo" height="16" src="assets/img/icon.png"/>
      {{ 'LOGIN_TITLE_UNLOCK' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row text-center>
      <ion-col col-12>
        <form [formGroup]="form" (ngSubmit)="login()">
          <img src="assets/img/icon.png" class="slide-image"/>
          <p>{{ 'ACCOUNT' | translate }}</p>
          <code>{{wallet.address.pretty()}}</code>
          <p>{{ 'COSIG_OF_MULTISIG' | translate }}</p>
          <code>{{multisig?.pretty()}}</code>
          <ion-item>
            <ion-label floating>{{ 'LOGIN_PASSWORD' | translate }}</ion-label>
            <ion-input #input type="password" icon-right formControlName="password"></ion-input>
          </ion-item>
          <button ion-button large clear color="primary" type="button" (click)="login()">
            {{ 'LOGIN_BUTTON_UNLOCK' | translate }}
          </button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
