<h1>{{transaction.type | transactionType | translate}}</h1>

<ion-item-group>
  <ion-item-divider color="light">{{'RECIPIENT' | translate}}</ion-item-divider>
  <ion-item text-wrap>{{transaction.recipient.pretty()}}</ion-item>
</ion-item-group>

<ion-item-group *ngIf="!transaction.containsMosaics()">
  <ion-item-divider color="light">{{'AMOUNT' | translate}}</ion-item-divider>
  <ion-item>{{transaction.amount | xem}} XEM</ion-item>
</ion-item-group>

<ion-item-group *ngIf="transaction.containsMosaics()">
  <ion-item-divider color="light">{{'MOSAICS' | translate}}</ion-item-divider>
  <ion-item *ngFor="let mosaic of transaction.mosaics">
    {{mosaic.quantity}} {{mosaic.mosaicId.description()}}
  </ion-item>
</ion-item-group>

<ion-item-group *ngIf="transaction.message.isPlain() && transaction.message.plain() != ''">
  <ion-item-divider color="light">{{'MESSAGE' | translate}}</ion-item-divider>
  <ion-item>
    {{transaction.message.plain()}}
  </ion-item>
</ion-item-group>

<ion-item-group>
  <ion-item-divider color="light">{{'FEE' | translate}}</ion-item-divider>
  <ion-item>
    {{(300000 + transaction.fee) | xem}} XEM
  </ion-item>
</ion-item-group>
