<ion-header>
  <ion-navbar>
    <ion-title>
      <img alt="logo" height="16" src="assets/img/icon.png"/>
      NEM Authenticator
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="unconfirmedTransactions?.length != 0" no-lines>
    <button ion-item no-padding
            *ngFor="let unconfirmedTransaction of unconfirmedTransactions"
            (click)="cosignTransaction(unconfirmedTransaction)">
      <ion-card [ngClass]="{'signedTransaction': (unconfirmedTransaction.signed)}">
        <ion-card-header>
          {{unconfirmedTransaction.transactionType() | transactionType}} TRANSACTION
        </ion-card-header>
        <ion-card-content>
          <p>Started by {{unconfirmedTransaction.signerAddress() }}</p>
          <br/>
          <p>Transaction started at {{unconfirmedTransaction.timeStamp() | localTimeParser}}</p>
          <p>Transaction deadline is at {{unconfirmedTransaction.deadline() | localTimeParser}}</p>

          <div text-center margin-top *ngIf="unconfirmedTransaction.signing">
            Signing Transaction <br/>
            <ion-spinner></ion-spinner>
          </div>
          <h1 *ngIf="unconfirmedTransaction.signed"
              text-center
              class="signedTitle">SIGNED (it gonna be included soon in a block)</h1>
        </ion-card-content>
      </ion-card>
    </button>
  </ion-list>
  <ion-grid *ngIf="unconfirmedTransactions?.length == 0">
    <ion-row align-items-center text-center>
      <ion-col>
        <h1 class="smile-face">:)</h1>
        <br/>
        <h3>You have no pending transactions</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
