page-home {
  .smile-face {
    font-size: 5em;
  }
  scroll-content {
    display: flex;
    flex-direction: column;
  }

  ion-grid {
    padding: 0;
    height: 100%;
  }

  ion-row {
    flex: 1;
  }

  ion-label {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .signedTransaction {
    background-color: #f5f5f5;
  }

  .label {
    margin: 0;
  }

  .item-inner {
    padding-right: 0px !important;
  }
}
