<ion-header>
  <ion-navbar>
    <ion-title>
      <img alt="logo" height="16" src="assets/img/icon.png"/>
      NEM Authenticator
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="unconfirmedTransactions?.length != 0" no-lines>
    <button ion-item no-padding
            *ngFor="let unconfirmedTransaction of unconfirmedTransactions"
            (click)="cosignTransaction(unconfirmedTransaction)">
      <ion-card [ngClass]="{'signedTransaction': (unconfirmedTransaction.transaction.signatures.length != 0)}">
        <ion-card-header>
          Amount: {{unconfirmedTransaction.transaction.otherTrans.amount | xem}} XEM
        </ion-card-header>
        <ion-card-content>
          <p>To {{unconfirmedTransaction.transaction.otherTrans.recipient}}</p>
          <h1 *ngIf="unconfirmedTransaction.transaction.signatures.length != 0"
              text-center
              class="signedTitle">SIGNED</h1>
        </ion-card-content>
      </ion-card>
    </button>
  </ion-list>
  <ion-grid *ngIf="unconfirmedTransactions?.length == 0">
    <ion-row align-items-center text-center>
      <ion-col>
        <h1 class="smile-face">:)</h1>
        <br/>
        <h3>You have no pending transactions</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
