<ion-header>
  <ion-navbar [color]="NEMLibrary.getNetworkType() == NetworkTypes.MAIN_NET ? 'mainnet': 'testnet'">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      NEM Authenticator
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="unconfirmedTransactions?.length != 0" no-lines>
    <button ion-item no-padding
            *ngFor="let unconfirmedTransaction of unconfirmedTransactions"
            (click)="cosignTransaction(unconfirmedTransaction)">
      <ion-card [ngClass]="{'signedTransaction': (unconfirmedTransaction.signed)}">
        <ion-card-header>
          {{unconfirmedTransaction.transactionType() | transactionType | translate}} {{ 'TRANSACTION' | translate}}
        </ion-card-header>
        <ion-card-content>
          <p text-wrap>{{ 'STARTED_BY' | translate}} {{unconfirmedTransaction.signerAddress() }}</p>
          <br/>
          <p>{{ 'TRANSACTION_TIMESTAMP' | translate}} {{unconfirmedTransaction.timeStamp() | localTimeParser}}</p>
          <p>{{ 'TRANSACTION_DEADLINE' | translate}} {{unconfirmedTransaction.deadline() | localTimeParser}}</p>

          <div text-center margin-top *ngIf="unconfirmedTransaction.signing">
            {{ 'SIGNING_TRANSACTION' | translate}} <br/>
            <ion-spinner></ion-spinner>
          </div>
          <div *ngIf="unconfirmedTransaction.signed" text-center>
            {{ 'TRANSACTION_SIGNED' | translate}}
          </div>
        </ion-card-content>
      </ion-card>
    </button>
  </ion-list>
  <ion-grid *ngIf="unconfirmedTransactions?.length == 0">
    <ion-row align-items-center text-center>
      <ion-col>
        <h1 class="smile-face">:)</h1>
        <br/>
        <h3>{{ 'NO_PENDING_TRANSACTIONS' | translate}}</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
