<h1>{{transaction.type | transactionType | translate}}</h1>

<ion-item-group>
  <ion-item-divider color="light">{{'RELATIVE_CHANGES' | translate}}</ion-item-divider>
  <ion-item>
    {{transaction.relativeChange}}
  </ion-item>
  <ion-item text-wrap *ngFor="let cosignatoryModification of modifications">
    <span *ngIf="cosignatoryModification.action == 1">{{'ADD_COSIGNATORY' | translate}}
      {{cosignatoryModification.cosignatoryAccount.address.pretty()}}
    </span>
    <span *ngIf="cosignatoryModification.action == 2">{{'DELETE_COSIGNATORY' | translate}}
      {{cosignatoryModification.cosignatoryAccount.address.pretty()}}
    </span>
  </ion-item>
</ion-item-group>

<ion-item-group>
  <ion-item-divider color="light">{{'FEE' | translate}}</ion-item-divider>
  <ion-item>
    {{(300000 + transaction.fee) | xem}} XEM
  </ion-item>
</ion-item-group>
