<ion-col col-12>
  <h5>{{'NAME' | translate}}</h5>
  <p>{{transaction.otherTransaction.mosaicDefinition.id.description()}}</p>
</ion-col>
<ion-col col-12>
  <h5>{{'DESCRIPTION' | translate}}</h5>
  <p>{{transaction.otherTransaction.mosaicDefinition.description}}</p>
</ion-col>

<ion-col col-12>
  <h5>{{'PROPERTIES' | translate}}:</h5>
  <p>{{'INITIAL_SUPPLY' | translate}}: {{transaction.otherTransaction.mosaicDefinition.properties.initialSupply}}</p>
  <p>{{'DIVISIBILITY' | translate}}: {{transaction.otherTransaction.mosaicDefinition.properties.divisibility}}</p>
  <p>{{'TRANSFERABLE' | translate}}: {{transaction.otherTransaction.mosaicDefinition.properties.transferable}}</p>
  <p>{{'SUPPLY_MUTABLE' | translate}}: {{transaction.otherTransaction.mosaicDefinition.properties.supplyMutable}}</p>
</ion-col>

<ion-col col-12 *ngIf="transaction.otherTransaction.mosaicDefinition.levy?.mosaicId">
  <h5>{{'LEVY' | translate}}</h5>
  <p>{{'MOSAIC' | translate}}: {{transaction.otherTransaction.mosaicDefinition.levy.mosaicId.description()}}</p>
  <p>{{'TYPE' | translate}}:
    <span *ngIf="transaction.otherTransaction.mosaicDefinition.levy.type == 1">{{'LEVY_TYPE_ABSOLUTE' | translate}}</span>
    <span *ngIf="transaction.otherTransaction.mosaicDefinition.levy.type == 2">{{'LEVY_TYPE_PERCENTIL' | translate}}</span>
  </p>
  <p>{{ 'FEE' | translate}}: {{transaction.otherTransaction.mosaicDefinition.levy.fee}}</p>
  <p>{{ 'RECIPIENT' | translate}}: {{transaction.otherTransaction.mosaicDefinition.levy.recipient.pretty()}}</p>
</ion-col>

<ion-col col-12>
  <h5>{{ 'FEE' | translate}}: </h5>
  <p>{{(transaction.fee + transaction.otherTransaction.fee) | xem}} XEM</p>
</ion-col>
