<ion-col col-12>
  <h5>Name</h5>
  <p>{{transaction.otherTransaction.mosaicDefinition.id.description()}}</p>
</ion-col>
<ion-col col-12>
  <h5>Description</h5>
  <p>{{transaction.otherTransaction.mosaicDefinition.description}}</p>
</ion-col>

<ion-col col-12>
  <h5>Properties</h5>
  <p>Initial supply: {{transaction.otherTransaction.mosaicDefinition.properties.initialSupply}}</p>
  <p>Divisibility: {{transaction.otherTransaction.mosaicDefinition.properties.divisibility}}</p>
  <p>Transferable: {{transaction.otherTransaction.mosaicDefinition.properties.transferable}}</p>
  <p>Supply mutable: {{transaction.otherTransaction.mosaicDefinition.properties.supplyMutable}}</p>
</ion-col>

<ion-col col-12 *ngIf="transaction.otherTransaction.mosaicDefinition.levy?.mosaicId">
  <h5>Levy</h5>
  <p>Mosaic: {{transaction.otherTransaction.mosaicDefinition.levy.mosaicId.description()}}</p>
  <p>Levy type:
    <span *ngIf="transaction.otherTransaction.mosaicDefinition.levy.type == 1">Absolute</span>
    <span *ngIf="transaction.otherTransaction.mosaicDefinition.levy.type == 2">Percentil</span>
  </p>
  <p>Fee: {{transaction.otherTransaction.mosaicDefinition.levy.fee}}</p>
  <p>Recipient: {{transaction.otherTransaction.mosaicDefinition.levy.recipient.pretty()}}</p>
</ion-col>

<ion-col col-12>
  <h5>Fee: </h5>
  <p>{{(transaction.fee + transaction.otherTransaction.fee) | xem}} XEM</p>
</ion-col>
