<h1>{{transaction.type | transactionType | translate}}</h1>

<ion-item-group>
  <ion-item-divider color="light">{{'NAME' | translate}}</ion-item-divider>
  <ion-item>
    {{transaction.mosaicDefinition.id.description()}}
  </ion-item>
</ion-item-group>

<ion-item-group>
  <ion-item-divider color="light">{{'DESCRIPTION' | translate}}</ion-item-divider>
  <ion-item>
    {{transaction.mosaicDefinition.description}}
  </ion-item>
</ion-item-group>

<ion-item-group>
  <ion-item-divider color="light">{{'PROPERTIES' | translate}}</ion-item-divider>
  <ion-item>
    {{'INITIAL_SUPPLY' | translate}}: {{transaction.mosaicDefinition.properties.initialSupply}}
  </ion-item>
  <ion-item>
    {{'DIVISIBILITY' | translate}}: {{transaction.mosaicDefinition.properties.divisibility}}
  </ion-item>
  <ion-item>{{'TRANSFERABLE' | translate}}: {{transaction.mosaicDefinition.properties.transferable}}</ion-item>
  <ion-item>{{'SUPPLY_MUTABLE' | translate}}: {{transaction.mosaicDefinition.properties.supplyMutable}}</ion-item>
</ion-item-group>

<ion-item-group *ngIf="transaction.mosaicDefinition.levy?.mosaicId">
  <ion-item-divider color="light">{{'LEVY' | translate}}</ion-item-divider>
  <ion-item>
    {{'MOSAIC' | translate}}: {{transaction.mosaicDefinition.levy.mosaicId.description()}}
  </ion-item>
  <ion-item>
    {{'TYPE' | translate}}:
    <span *ngIf="transaction.mosaicDefinition.levy.type == 1">{{'LEVY_TYPE_ABSOLUTE' | translate}}</span>
    <span *ngIf="transaction.mosaicDefinition.levy.type == 2">{{'LEVY_TYPE_PERCENTIL' | translate}}</span>
  </ion-item>
  <ion-item>
    {{ 'FEE' | translate}}: {{transaction.mosaicDefinition.levy.fee}}
  </ion-item>
  <ion-item>
    {{ 'RECIPIENT' | translate}}: {{transaction.mosaicDefinition.levy.recipient.pretty()}}
  </ion-item>
</ion-item-group>

<ion-item-group>
  <ion-item-divider color="light">{{'FEE' | translate}}</ion-item-divider>
  <ion-item>
    {{(300000 + transaction.fee) | xem}} XEM
  </ion-item>
</ion-item-group>
