<h1>{{transaction.type | transactionType | translate}}</h1>

<ion-item-group>
  <ion-item-divider color="light">{{'HARVESTING' | translate}}</ion-item-divider>
  <ion-item *ngIf="transaction.mode == 1">{{ 'ACTIVATE_HARVESTING' | translate}}</ion-item>
  <ion-item *ngIf="transaction.mode == 2">{{ 'DEACTIVATE_HARVESTING' | translate}}</ion-item>
</ion-item-group>

<ion-item-group>
  <ion-item-divider color="light">{{'REMOTE_ACCOUNT' | translate}}</ion-item-divider>
  <ion-item text-wrap>{{transaction.remoteAccount.address.pretty()}}</ion-item>
</ion-item-group>

<ion-item-group>
  <ion-item-divider color="light">{{'FEE' | translate}}</ion-item-divider>
  <ion-item>
    {{(300000 + transaction.fee) | xem}} XEM
  </ion-item>
</ion-item-group>
