<ion-col col-12>
  <h5>{{ 'MOSAIC' | translate}}: </h5>
  <p>{{transaction.otherTransaction.mosaicId.description()}}</p>
</ion-col>

<ion-col col-12>
  <h5 *ngIf="transaction.otherTransaction.supplyType == 1">{{'SUPPLY_INCREASE' | translate}}:</h5>
  <h5 *ngIf="transaction.otherTransaction.supplyType == 2">{{'SUPPLY_DECREASE' | translate}}:</h5>
  <p>{{transaction.otherTransaction.delta}} {{ 'MOSAICS' | translate}}</p>
</ion-col>

<ion-col col-12>
  <h5>{{'FEE' | translate}}: </h5>
  <p>{{(transaction.fee + transaction.otherTransaction.fee) | xem}} XEM</p>
</ion-col>
